.treenode {
    margin-top: 16px;
    margin-bottom: 16px;
}

.treenode-label {
    font-size: 15px;
    font-weight: 300;
    margin-left: 6px;
}

.treenode-listheader {
    display: block;
    padding: 0.4em;
    margin-right: 0;   
    font-size: 15px; 
    font-weight: 600;
    color: rgb(190,190,190);
}

.treenode-icon {
    margin-right: 0px;
    color: lightblue;    
}

.treenode-icon:hover {
    color: white;
}

.treenode-menulabel {
    margin-left: 10px;
    cursor: pointer;
    min-width: fit-content;
}

.treenode-menulabel:hover {
    color: white;
    border-bottom: 1px solid
}    

.treenode-draggable {
        position: absolute;
  		z-index: 9;
}